@import "/src/index.scss";

@mixin generateColorClasses($colors) {
  @each $color, $value in $colors {
    &-#{$color} {
      background-color: $value;
      &:hover {
        background-color: darken($value, 10%);
      }

      @if $color == "white" {
        color: getColor("black");
      } @else {
        color: getColor("white");
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  outline: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  @include generateColorClasses($colors);
}

.button-contained {
  background-color: getColor("primary");
  &:hover {
    background-color: darken(getColor("primary"), 10%);
  }

  &.button-disabled {
    background-color: getColor("info");
    cursor: not-allowed;
  }
}

.button-outlined {
  border: 1px solid getColor("primary");
  background-color: transparent;
  color: getColor("primary");
  &:hover {
    color: getColor("white");
    background-color: darken(getColor("primary"), 10%);
  }

  &.button-disabled {
    border: 1px solid getColor("info");
    cursor: not-allowed;
  }
}

.is-selected {
  position: absolute;
  right: 1px;
  bottom: 1px;
  stroke-width: 3px;
}
