// CardList.scss

.card-list-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 200px;
  height: 950px;

  .card {
    border: 1px solid #ddd;
    padding: 20px;
  }
  img {
    height: 60%;
    width: 100%;
  }
}
