* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  // Header height
  --header-height: 80px;
}

// Colors array
$colors: (
  "black": #131515ff,
  "sub": #2b2c28ff,
  "primary": #327999ff,
  "secondary": #7dc8e3ff,
  "white": #fffafbff,
);

// Dışardan kullanabileceğimiz bir getColor fonksiyonu oluşturuyoruz.
// Bu fonksiyonu kullanarak renkleri değiştirebiliriz.
// Örneğin: background-color: getColor($night);

@function getColor($color) {
  @return map-get($colors, $color);
}

body {
  color: getColor("white");
  background-color: getColor("black");
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  #root {
    width: 100%;
    height: 100%;
  }
}

.card-form {
  position: absolute;
  right: 12.5%;
  bottom: 0;
  transform: translateY(50%);
  height: 200px;
  z-index: 1;
}

.control-dots {
  bottom: 20% !important;
}
