@import "/src/index.scss";

.header-wrapper {
  height: var(--header-height);
  background-color: getColor("white");
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 25px;
  & img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 8px;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-right: 25px;
}

// getColor fonksiyonunu kullanarak renkleri değiştirebiliriz.
// Örneğin: background-color: getColor($night);

.nav-item {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: getColor(secondary);
  }

  a {
    color: getColor("sub");
  }
}
