* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 500;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  // Header height
  --header-height: 80px;
}

// Colors array
$colors: (
  "black": #131515ff,
  "sub": #2b2c28ff,
  "white": #fffafbff,
  "primary": #2b8ced,
  "secondary": #2b8cef,
  "third": #00b4d8ff,
  "fourth": #90e0efff,
  "fifth": #caf0f8ff,
  "error": #dc3545,
  "success": #28a745,
  "warning": #ffc107,
  "info": #6c757d,
  "light": #f8f9fa,
  "dark": #343a40,
);

$shadows: (
  "low": rgba(17, 12, 46, 0.15) 0px 48px 100px 0px,
  "medium": rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  "high": rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
);

@function getShadows($shadow) {
  @return map-get($shadows, $shadow);
}

// Dışardan kullanabileceğimiz bir getColor fonksiyonu oluşturuyoruz.
// Bu fonksiyonu kullanarak renkleri değiştirebiliriz.
// Örneğin: background-color: getColor($night);
@function getColor($color) {
  @return map-get($colors, $color);
}

body {
  color: getColor("black");
  background-color: getColor("white");
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  #root {
    width: 100%;
    height: 100%;
  }
}

.control-dots {
  bottom: 20% !important;
}
